@font-face {
    font-family: Copperplate-Gothic;
    src: url(Copperplate-Gothic-Std-31-BC.ttf);
}

body{
    background-color: black;
    color: white;
    border-spacing: 50px,50px,50px,50px;
    font-family: Copperplate-Gothic;
    text-align: center;

    
}
header{
    font-size: 72px;
    color: white;
    background-color: #3a3a3a;
    text-align: center;

}
header img{
    
}