@font-face {
    font-family: Copperplate-Gothic;
    src: url(Copperplate-Gothic-Std-31-BC.ttf);
    font-weight: 100;
}

h1{
    font-weight: normal;
}
body{
    background-color: black;
    color: white;
    font-family: Copperplate-Gothic;
    
    text-align: center;
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right:0px;
    

    
}
header{
    font-size: 72px;
    color: white;
    background-color: #323232;
    text-align: center;
    font-weight: 400;
    padding-top: 20px;

}
header img{

        width: 450px;
        
       
    
}
main img{
   height: 200px;
    padding: 10px 10px;
}
h2{
    font-size: 60px;
    padding-bottom: 120px;
    font-weight:normal;
}
a{
    text-decoration: none;
    color:inherit;

    
}
#covers{
    text-align: center;
    display:inline-block;
}
.album-covers{
    position:relative;
    text-align: center;
    display:inline-block;
    color:white;
    font-size:45px;
}
.ablum-covers > img{
    padding-top: 10px;
}
